/* TODO Add site wide styles */
* {
  /* border: 1px solid black */
}
#landing-banner {
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#browser-banner {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* opacity: 0.7; */

  /* height: auto; */

  /* margin:auto; */
  /* height: auto; */
}
.browser-banner-h1{
  font-family: 'Elsie Swash Caps', cursive;
  font-size: 4.5em;
  color: rgb(255,255,255, 1);
  text-shadow: 4px 4px black;
  margin-bottom: 10;

}
.browser-banner-h2{
  bottom: 50px;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2.5em;
  text-shadow: 4px 4px black;

}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  /* width: 200px;
  max-width: 80%; */
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);

}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.closeImg  {
  cursor:'pointer';
  float:'right';
  margin-top: '5px';
  width: '20px'}

  .choose-a-city-text{
    font-size: 2em;
    margin: auto;
    width: 50%;
    padding: 100px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-shadow: 4px 4p red;
  }

  .dashboard-container {
    margin: 1px solid black;
  }
  .profile-pic {
    /* border: 1px solid black; */
    width: 175px;
    height: 175px;
    border-radius: 50%;
  }
  .user-name-div {
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 1.5em;
    color: goldenrod;
    line-height: .5em;
    /* text-shadow: 4px 4px black; */
    /* height: 200px; */
  }
